.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 100vh;
  color: var(--black-100);
  font-family: var(--font-NanumGothic);
}
  @media(min-width: 1024px) {
    .container{
      display: flex;
    }
  }

.logo {
  width: 150px;
}
.IntroAsideCard {
  width: 340px;
  aspect-ratio: 3/4;
  margin-top: var(--gap-lg);
  background-image: url(/backgrounds/background5.jpg);
  background-size: cover;
  border-radius: 7px;
  background-position: top 30px;
}
.content {
  font-size: 18px;
  position: relative;
  top: 24px;
  left: 24px;
}
.content p {
  gap : var(--gap-sm);
}

.descriptionMain {
  font-size: 28px;
  margin: var(--gap-lg) 0 !important;
}
.descriptionMain strong {
  color: var(--blue-100);

}
.team {
  width: 100%;
  margin-top: var(--gap-md);
  padding-top: var(--gap-md);
  border-top: 1px solid var(--black-400);
}

.teamName {
  width: 100%;
  font-size: 15px;
  margin-bottom: var(--gap-md);
  padding-bottom: var(--gap-sm);
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.teamTitle {
  margin-right: 24px;
}
.teamGithub {
  padding-top: 1px;
}
.iconGithub {
  margin-right: 4px;
}

.teamMate {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: var(--gap-md);
}
.teamPosition {
  font-weight: 600;
  margin-bottom: 4px;
}
.teamMember a {
  margin-right: var(--gap-sm);
}
