@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* webkit css 적용법 */
  .cleanInput {
    ::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 0;
      /* input 모든 영역 클릭 시 캘린더 뜨게 */
      width: 100%;
      height: 100%;
      /* icon 지우기 */
      color: transparent;
      background: transparent;
      cursor: pointer;
    }
    /* default 연도.월.일 지우기 */
    /* isdirty 역할의 css selector */
    /* 1.placeholder-shown (type text,number, time에만 적용됨) */
    :focus{
      &::-webkit-datetime-edit {
        opacity: 1;
      }
    }
    :not(:focus){
      &::-webkit-datetime-edit {
        opacity: 0;
      }
    }
    :not(:focus):valid{
      &::-webkit-datetime-edit {
        opacity: 1;
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 64px 8px 64px 8px;
    overflow: hidden;
  }  
}

:root {
  /* color */
  --blue-100: #5b85eb;
  --black-100: #464646;
  --black-200: #646464;
  --black-300: #999999;
  --black-400: #b4b4b4;
  --black-500: #eaeaea;
  --black-600: #f0f0f0;
  --red-100: rgb(211, 47, 47);
  /* gap */
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --vh: 1vh;
  --100vh: calc(var(--vh, 1vh) * 100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  /* 페이지간 w 차이 없게 */
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.root-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 80px;
  max-width: unset !important;
  min-height: calc(var(--vh, 1vh) * 100);
  padding-left: 0;
  padding-right: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 428px;
  min-height: var(--100vh);
  padding-left: 0;
  padding-right: 0;
  margin-left: unset;
  margin-right: unset;
  box-shadow: 0px 0px 16px rgb(50 50 50 / 12%);
}


.content {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 24px;
}
